<!DOCTYPE html>

<html lang="en">
    <head>

    </head>

    <body>
        <h1>New Product Form</h1>

      <form  action="http://localhost:3000/product" method="post">
        <div>
        Product Number: <br/>
        <input type="text" name="productNo"/><br/>
        Product Name:<br/>
        <input type="text" name="productName"/><br/>
        Unit Price:<br/>
        <input type="text" name="unitPrice"/><br/>

        <input type="submit" value="Click"/>
</div>
      </form>

        <a href="/product-form">Add a new Product</a>
    </body>
</html>