body{
    user-select: none;
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:tan;
	
}


.first{

    margin-top: 10%;
    border: 4px solid gray;
    padding: 10px;
    background-color:darksalmon;
    border-radius: 20px;
    border-style: outset;
}
